.glyphicon { margin-right:10px; }
.panel-body {
	padding: 35px;background: #000;
	background-image: url('../img/bombas/simbolotransparentecinza.png');
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: top;
}
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
.panel-heading{
    background: #ffcc00;
    padding: 9px;
    /* margin-bottom: 10px; */
    border-bottom: 3px solid #000;
}

.panel-title a {
    color: #000;
    font-size: 16px;
}

.panel-title a:hover {
    color: #333;
}
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #ffcc00;
  outline: 1px solid slategrey;
}