	.tabela{
		border: 1px solid gray;
		width: 100%;
		height:100%;
		float:left;
		position:relative;
	}
	
	.linha{	
		width: 100%;
		height:40px;
		margin:auto;
		float:left;
		position:relative;
		
		
	}
	
	.linha_titulo{	
		width: 100%;
		height:20px;
		margin:auto;
		float:left;
		position:relative;
		
		
	}
	
	.coluna{
		border: 1px solid gray;
		width: 16%;
		height:100%;
		float:left;
	}
	
	.coluna_botoes{
		border: 0px solid red;
		width: 100%;
		float:left;
		text-align: center;
		
		
		
	}
	
	.coluna_total{
		width: 64%;
		height:100%;
		float:left;
	}
	
	.col_cliente{
		width: 36%;
	}
	
	.form-textarea{
		height:80px;
		width: 90%;
	}
	
	.col_textarea{
		width: 100%;
		
	}
	
	.linha_textarea{
		height:120px;
	}
	
	.titulo{
			text-align: center; 
			vertical-align: middle;
			font-size: 70%;
			width: 100%;
			height:100%;
			text-decoration: underline;
			background-color: black;
			border:0px;
			color:#FFCC00;
	}
	
	.tit_observa{
			text-align: center; 
			vertical-align: middle;
			font-size: 70%;
			width: 100%;
			text-decoration: underline;
	}
	.placa{
		text-align:right; 
		vertical-align:middle; 
		margin-top:2%; 
		padding-right:2%;
		width: 100%;
		font-size: 90%;
	}
	.listagem{
			text-align: center; 
			vertical-align: middle;
			font-size: 80%;
			width: 100%;
			margin-top: 2%;
			
	}
	
	.msg{
		color:#333; 
		width:100%; 
		text-align:center;
		text-shadow: 0.1em 0.1em #FFCC00;
		
	}

	.formata_celula{
		font-size:70%; 
		border:0px solid red;
		word-wrap: break-word;
		text-align:center;
	}

	.ticket{
		border:1px solid rgb(34, 33, 33);
		margin: 2%;
		width: 96%;
	}

	.layout_ticket{
		border:1px solid rgb(34, 33, 33);
		margin: 1%;
		width: 40%;
	}

	.td_label{
		text-align: right;
	}

	.tb_titulo{
		text-align: center;
	}

	p{
		font-size: 130%;
	}